# Virtual environment
.venv/
venv/
.venv/Lib/site-packages

# VSCode
.vscode/
scaper/__pycache__
# Python cache
__pycache__/
*.py[cod]
*$py.class

# Claude
.claude/

.env

# Weights & Biases
wandb/

# Local model artifacts & plots

*.json
*.png

# Temporary and split datasets
data/processed/split_*.csv
data/processed/alonhadat_features_cleaned2.csv
trai_xgboost.csv

.agents
.kiro

run_train.py
