# Virtual environment
.venv/
venv/
.venv/Lib/site-packages

# VSCode
.vscode/
scaper/__pycache__
# Python cache
__pycache__/
*.py[cod]
*$py.class

# Claude
.claude/
.claude/

# enviroment 
.env

# WandB & Models
wandb/
Models/

.agents
.kiro

run_train.py