# Virtual environment
.venv/
venv/
.venv/Lib/site-packages

# VSCode
.vscode/
scaper/__pycache__
# Python cache
__pycache__/
*.py[cod]
*$py.class

# Claude
.claude/
.claude/

# Modeling experiment outputs
wandb/
models/
data/processed/model_results.csv
data/processed/real_estate_cleaned.csv

# Old Scripts
scripts/old/