streamlit
numpy
pandas
joblib
scikit-learn
xgboost
lightgbm
catboost
requests
beautifulsoup4
selenium
webdriver-manager
supabase
python-dotenv
geopy
tabpfn
matplotlib
seaborn
plotly
flask
boto3
fastparquet
pyarrow
