streamlit
numpy
pandas
joblib
scikit-learn
xgboost
lightgbm
catboost
requests
beautifulsoup4
selenium
webdriver-manager
supabase
python-dotenv
geopy
matplotlib
seaborn
plotly
flask
fastparquet
pyarrow
wandb